header{
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0;
    padding-top: 0;
    padding: 0;
    border: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
body h1 {
    margin: 18px 0;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #333;
}
body p {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #575757;
}
header a {
    text-decoration: none;
    color: black;
    
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    font-weight: bold;
    
    transition: color 0.3s;

}
header a:hover {
    color: #e8dbbf;
}

header img {
    height: 75px;
    width: 75px;
    border-radius: 40px;
    vertical-align: middle;
    margin-right: 330px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFECE5;

}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img {
    width: 100%;
    height: 380px;
}
.card p {
    padding: 15px;
    font-size: 16px;
    color: #333;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.product{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}
.card .description{
    font-size: 14px;
    color: #666;
    margin-bottom: 0;
    font-style: italic;
    font-weight: normal;
}
button{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    transition: scale 0.3s ease-in-out;
}
button:hover{
    background-color: #555;
    scale:1.05;
}
.about h2{
    font-size: 24px;
    margin-left: 60px;
    margin-top: 40px;
    color: #333;
    margin-right: 50px;
    
}
.about p{
    font-size: 16px;
    text-align: center;
    max-width:250px;
    color: #575757;
    margin-left: 500px;
}
.about button{
    margin-left: 60px;
    margin-right: 50px  ;
}
.more{
    display: block;
    margin: 20px auto;
}
.about{
    text-align: center;
    margin-bottom: 40px;
}
.card2{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    
}
.card2:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card2 img {
    width: 100%;
    height: 380px;
}
.card2 p {
    padding: 15px;
    font-size: 16px;
    color: #333;
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.card2 .description{
     font-size: 14px;
    color: #666;
    margin-bottom: 0;
    font-style: italic;
    font-weight: normal;

}
.more a{
    text-decoration: none;
    color:white
}
h4{
    font-size: 19px;
    margin-left: 60px;
    margin-top: 40px;
    color: #666;
    margin-right: 50px;
    text-align: center;
}
.follow a {
    text-decoration: none;
    color:white
}
.follow {
    margin-left: 580px;
}
footer{
    background-color: #ffffff;
    padding: 10px;
}
footer p{
   
    color: black;
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    font-weight: bold;
}
footer a{
    text-decoration: none;
    color: black;
    
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    font-weight: bold;
    margin-left: 600px;
    transition: color 0.3s;
}
footer a:hover{
    color: #e8dbbf;
}
.commande{
    text-align: center;
    padding: 50px 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-family: 'Arial', sans-serif;
}
input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
    max-width: 300px;
    width: 100%;
}
select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
    max-width: 323px;
    width: 100%;
}
textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
    max-width: 300px;
    width: 100%;
    resize: vertical;
}
input:focus, select:focus, textarea:focus{
    outline: none;
    border-color: #575757;
}
form button{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s;
    transition: scale 0.3s;
    margin-top: 10px;
}
.commande label{
    font-size: 16px;
    color: #575757;
    font-weight: bold;
    align-self: flex-start;
    margin-left: 455px;
}
.commande h2{
    color:#333 ;
}
.about a{
    text-decoration: none;
    color:white
}
.card2 a{
    text-decoration: none;
    color:white
}
.card a{
    text-decoration: none;
    color:white
}